<html>
    <head>
        <title>Admin Plugin</title>
        {% include 'head.html' %}
        <style>

        </style>
    </head>
    <body>
        <main>
            <h1>Admin Plugin</h1>

            <label class="label-inline" for="pinned">CPU ({{ cpu }}%) </label>&nbsp;<progress max="100" value="{{ cpu }}">{{ cpu }}%</progress><br>
            <label class="label-inline" for="pinned">Memory Usage ({{ memory }}%)</label>&nbsp;<progress max="100" value="{{ memory }}">{{ memory }}%</progress>


            <h3>Process List</h3>
            <form method="get" action="/admin">
                <label class="label-inline" for="filter">Process Filter</label><input type="text" name="filter" /> <input type="submit" value="Filter">
            </form>
            <pre>
                {{ ps_list }}
            </pre>
        </main>
        
    </body>
</html>